<% provide(:title, "Help") %>

<h1>Help</h1>
<p class="center">
  Get help with rails <a href="http://www.railstutorial.org/#help">here</a>
  Get help with sample app 
  <a href="http://www.railstutorial.org/book"><em>here</em></a>
</p>
