<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>Sample Sample!</h1>
    <p>
      This is the home page of my sample app.
      This is my facebook <a href="http://www.facebook.com/impomales">here</a>.
    </p>
  </body>
</html>
