<div class="center jumbotron">
  <h1>Fitzy's blog</h1>
  <h2>
    Home Page of fitzy. 
    <a href="http://linkedin.com/in/impomales">linkedin</a>
  </h2>

  <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("fitz.jpg", alt: "Rails logo", id: "fitz"), root_path %>
<audio id="music" controls="false" preload="true" autoplay="true">
  <source src="/audio/Gymno.mp3" type="audio/mpeg">
</audio>

