<footer class="footer">
  <small>
    Sample app by <a href="http://www.facebook.com/impomales">Isaias Pomales</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact" , '#' %></li>
      <li><a href="http://www.github.com/impomales">github</a></li>
    </ul>
  </nav>
</footer>
